rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /invoices/{invoiceId} {
      allow create: if request.auth != null
                    && request.resource.data.userId == request.auth.uid;
      allow read, update, delete: if request.auth != null
                                   && resource.data.userId == request.auth.uid;
    }
    match /profiles/{userId} {
      allow read, write: if request.auth != null
                         && request.auth.uid == userId;
    }
    match /quotes/{quoteId} {
      allow create: if request.auth != null
                    && request.resource.data.userId == request.auth.uid;
      allow read, update, delete: if request.auth != null
                                   && resource.data.userId == request.auth.uid;
    }
    match /expenses/{expenseId} {
      allow create: if request.auth != null
                    && request.resource.data.userId == request.auth.uid;
      allow read, update, delete: if request.auth != null
                                   && resource.data.userId == request.auth.uid;
    }
    match /clients/{clientId} {
      allow create: if request.auth != null
                    && request.resource.data.userId == request.auth.uid;
      allow read, update, delete: if request.auth != null
                                   && resource.data.userId == request.auth.uid;
    }
    match /receipts/{receiptId} {
      allow create: if request.auth != null
                    && request.resource.data.userId == request.auth.uid;
      allow read, update, delete: if request.auth != null
                                   && resource.data.userId == request.auth.uid;
    }
    match /subscriptions/{userId} {
      allow read: if request.auth != null
                   && request.auth.uid == userId;
      allow write: if false;
    }
  }
}
